<?xml version="1.0" encoding="UTF-8"?>
<!-- user类各层配置 -->
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
   
	<bean id="adminAction" class="com.solution.action.AdminAction">
		<property name="accountService" ref="accountService"></property>
		<property name="accountRoleService" ref="accountRoleService"></property>
		<property name="moduleService" ref="moduleService"></property>
		<property name="departmentService" ref="departmentService"></property>
		<property name="positionService" ref="positionService"></property>
	</bean>
	
</beans>