body {
	font-size: 12px;
	text-align: center;
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
}
table{
	font-family: fantasy;
}
#bgpic{
  margin:0 auto;
  width:800px;
  padding:0;
  }
#bgpic img{
    max-width:780px;
	width:expression(document.body.clientWidth > 780? "780px": "auto" );
	border:1px dashed #000;
	}